/* LOGO IMAGE STYLES */
.cls-1 {
  fill: #eef0f9;
  opacity: 0.4;
}

.cls-2 {
  fill: #f1f2f2;
  stroke: #d1d3de;
}

.cls-2,
.cls-3 {
  stroke-miterlimit: 10;
  stroke-width: 2px;
}

.cls-3 {
  fill: #d7e8f7;
  stroke: #b0c6f2;
}

.cls-4 {
  fill: #edf0f8;
  opacity: 0.6;
}

/* TAILWIND CSSS SETUP */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*  PAGE DEFAULTS */
* {
  scroll-behavior: smooth !important;
  @apply relative bg-stone-800 m-0 p-0;
  /* font-family:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
*::selection {
  background-color: transparent;
}

#root {
  overflow-x: hidden;
}

.Navbar {
  box-shadow: 5px 0 40px 1px #1115;
  z-index: 2;
  @apply max-w-[22vw] w-[22vw];
}
.navIcon {
  @apply flex flex-col items-center justify-center w-full py-2.5 rounded 
  rounded-lg hover:bg-[#2227];
}
.navIcon:hover > span,
.navIcon:focus > span,
.navIcon:hover > p,
.navIcon:focus > p {
  @apply text-stone-200 text-xs;
}

.input {
  @apply w-full text-lg font-light text-stone-300 px-4 py-3.5 bg-[#0002]
  rounded rounded-xl border border-[.1rem] border-stone-900 
  focus:outline-none focus:border-[.15rem] placeholder:text-stone-600;
}
.input::placeholder {
}

/* XTRA STYLING */
.btn {
}
.btn svg {
  transform: rotate(-18deg);
  @apply w-12 h-12 p-3 text-stone-600 bg-[#0002] rounded rounded-3xl border-stone-900 transition-all ease-in-out duration-300;
}
.btn:hover svg {
  transform: rotate(0);
  cursor: pointer;
}
.trans {
  @apply transition-all ease-in-out duration-300;
}

/* :root {

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
